.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    color: rgb(226, 220, 220);
    font-weight: bolder;
    text-align: center;
    font-size: 24px;
    z-index: 1;
  }