

/* ------------------------------ G L O B A L _ _ S T Y L E S--------------------------------- */




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html{
    /* Conversion that makes each rem = to 10 px */
    font-size: 62.5%;
  }
  
  body{
    font-family: 'Michroma', sans-serif;
  }
  
  
  h1 {
    font-size: 2.6rem;
  }
  
  li,
  button,
  label,
  input,
  p {
    font-size: 2rem;
  }
  
  
  h2{
    font-size: 4.8rem;
  }
  
  h3{
    font-size: 3rem;
  }
  
  h4,
  h5{
    font-size: 2.8rem;
  }
  
  h6{
    font-size: 2rem;
  }
  
  a{
    color: white;
    text-decoration: none;
  }
  
  
  button{
    padding: 2rem 6rem;
    background: rgb(101, 103, 128);
    border: none;
    color: white;
    font-size: 1.8rem;
    cursor: pointer;
    transition: background 0.5s ease-in-out;
  }
  
  button:hover{
    background: rgb(47, 48, 58);
    
  }




  
 

  /* -----------------------N A V _ _ S E C T I O N _ _ W I T H _ _ H E R O ------------------------------------ */
  
  
  .main-head {
    background: rgb(47, 48, 58);
    color: white;
    position: sticky;
    top: 0px;
    z-index: 7
  }
  
  
  nav{
    min-height: 10vh;
    display: flex;
    width: 90%;
    margin: auto;
    padding: 2rem;
    align-items: center;
    flex-wrap: wrap;
    
  }
  
  nav ul{
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
  }
  
  li:hover{
      text-decoration: underline rgb(18, 148, 187);
    
  }
  
  #logo{
     flex: 1 1 40rem;
     font-family: 'Pattaya', sans-serif;
     font-weight: normal;
     font-size: 4rem;
     letter-spacing: .5rem;
  }
  
  
  .hero{
    background: linear-gradient(rgb(37, 35, 35, 0.5),transparent),url("../images/programmer.jpg");
  
    min-height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
  
  }
  
  .hero h3{
    padding: 5rem;
  }
  
  
  
  
  
  
  
  
  /* Settings for burger menu lines, width and spacing */
  .burger{
    display: none;
    cursor: pointer;
  }
  
  
  .line1{
  
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 7px;
    transition: all 0.3s ease;
  }
  .line2{
  
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 7px;
    transition: all 0.3s ease;
  }
  .line3{
  
    width: 15px;
    height: 3px;
    background-color: white;
    margin: 7px;
    transition: all 0.3s ease;
  }
  
  /* End of burger line settings */
  
  /* --------------------------------------------------------------------- -------------------------------------*/
  
  
  
  
  
  
  /* ---------------------- A B O U T _ _ P A G E _ _ S E C T I O N------------------------------------------- */
  

  
  #about{
    min-height: 100vh;
   background: linear-gradient(rgba(0, 0, 0, 0.95),transparent),url("https://images.pexels.com/photos/326576/pexels-photo-326576.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
   background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    
  }
  
  
  .about-head{
    width: 90%;
    margin: auto;
  }
  
  .about-head h2{
    padding: 1rem 0rem;
    text-decoration: underline;
  }
  
  .about-head h3{
    padding: 4rem 0rem;
    /* background: linear-gradient(rgb(100, 91, 91), rgb(6, 126, 196));
    background-clip: text;
    -webkit-text-fill-color: transparent; */
  }
  
  
  
  
  
  
  
  
  
  
  /* -------------------------P R O J E C T S _ _ S E C T I O N  --------------------------------------------------- */



  #projects{
    min-height: 70vh;
  }
  
  .projects-head{
    background: #343c44;
    padding: 3rem;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
  
  }
  
  
  .projects-head h3{
    padding: 1rem;
  }
  
  
  .cards{
    width: 90%;
    margin: auto;
    display: flex;
    min-height: 60vh;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .card{
    position: relative;
  
    flex: 1 1 30rem;
    min-height: 40vh;
    margin: 2rem 5rem;
    background: url("https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
     background-size: cover;
    background-position: center;
    transition: background 1s ease-in-out;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1), 0px 20px 20px rgba(0, 20, 20, 0.1);
    align-items: center;
    text-align: center;
   
  }
  
  
  
  .cards img{
    height: 100px;
  }
  
  
  
  .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background: url("https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  }
  
  .card:hover .overlay {
    background: url("https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
    background-position: center;
    opacity: 1;
  }
  
  
  
  .front-text{
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(112, 128, 144, 0.7);
    justify-content: space-between;
    flex-wrap: wrap;
    
  }
  
  .front-text img{
    height: 10%;
    width: 10%;
    ;
  }
  
  
  
  
  






/* ---------------------------E X P E R I E N C E _ _ S E C T I O N ---------------------- */
  
  
  
#experience{
    min-height: 100vh;
    /* display: flex;
    align-items: center;
    justify-content: center; */
  }
  
  
  .container {
    width: 90%;
    margin: auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    background-color: #fff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
  
  .title {
    font-size: 38px;
    color: #616161;
    font-style: italic;
    font-weight: 800;
  }
  
  .timeline {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 5px 25px 5px rgba(0, 0, 0, 0.2);
  }
  .timeline .swiper-container {
    height: 600px;
    width: 100%;
    position: relative;
  }
  .timeline .swiper-wrapper {
    -webkit-transition: 2s cubic-bezier(0.68, -0.4, 0.27, 1.34) 0.2s;
    transition: 2s cubic-bezier(0.68, -0.4, 0.27, 1.34) 0.2s;
  }
  .timeline .swiper-slide {
    position: relative;
    color: #fff;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .timeline .swiper-slide::after {
    content: "";
    position: absolute;
    z-index: 1;
    right: -115%;
    bottom: -10%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: -230px 0 150px 60vw rgba(0, 0, 0, 0.7);
    border-radius: 100%;
  }
  .timeline .swiper-slide-content {
    position: absolute;
    text-align: center;
    width: 80%;
    max-width: 310px;
    right: 50%;
    top: 13%;
    -webkit-transform: translate(50%, 0);
            transform: translate(50%, 0);
    font-size: 12px;
    z-index: 2;
  }
  .timeline .swiper-slide .timeline-year {
    display: block;
    font-style: italic;
    font-size: 42px;
    margin-bottom: 50px;
    -webkit-transform: translate3d(20px, 0, 0);
            transform: translate3d(20px, 0, 0);
    color: #d4a024;
    font-weight: 300;
    opacity: 0;
    -webkit-transition: .2s ease .4s;
    transition: .2s ease .4s;
  }
  .timeline .swiper-slide .timeline-title {
    font-weight: 800;
    font-size: 34px;
    margin: 0 0 30px;
    opacity: 0;
    -webkit-transform: translate3d(20px, 0, 0);
            transform: translate3d(20px, 0, 0);
    -webkit-transition: .2s ease .5s;
    transition: .2s ease .5s;
  }
  .timeline .swiper-slide .timeline-text {
    line-height: 1.5;
    opacity: 0;
    -webkit-transform: translate3d(20px, 0, 0);
            transform: translate3d(20px, 0, 0);
    -webkit-transition: .2s ease .6s;
    transition: .2s ease .6s;
  }
  .timeline .swiper-slide-active .timeline-year {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    -webkit-transition: .4s ease 1.6s;
    transition: .4s ease 1.6s;
  }
  .timeline .swiper-slide-active .timeline-title {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    -webkit-transition: .4s ease 1.7s;
    transition: .4s ease 1.7s;
  }
  .timeline .swiper-slide-active .timeline-text {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    -webkit-transition: .4s ease 1.8s;
    transition: .4s ease 1.8s;
    font-size: 14px;
  }
  .timeline .swiper-pagination {
    right: 15% !important;
    height: 100%;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center;
    font-style: italic;
    font-weight: 300;
    font-size: 18px;
    z-index: 1;
  }
  .timeline .swiper-pagination::before {
    content: "";
    position: absolute;
    left: -30px;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.2);
  }
  .timeline .swiper-pagination-bullet {
    width: auto;
    height: auto;
    text-align: center;
    opacity: 1;
    background: transparent;
    color: #d4a024;
    margin: 15px 0 !important;
    position: relative;
  }
  .timeline .swiper-pagination-bullet::before {
    content: "";
    position: absolute;
    top: 8px;
    left: -32.5px;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: #d4a024;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: .2s;
    transition: .2s;
  }
  .timeline .swiper-pagination-bullet-active {
    color: #d4a024;
  }
  .timeline .swiper-pagination-bullet-active::before {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .timeline .swiper-button-next,
  .timeline .swiper-button-prev {
    background-size: 20px 20px;
    top: 15%;
    width: 20px;
    height: 20px;
    margin-top: 0;
    z-index: 2;
    -webkit-transition: .2s;
    transition: .2s;
  }
  .timeline .swiper-button-prev {
    left: 8%;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23d4a024'%2F%3E%3C%2Fsvg%3E");
  }
  .timeline .swiper-button-prev:hover {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
  .timeline .swiper-button-next {
    right: 8%;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23d4a024'%2F%3E%3C%2Fsvg%3E");
  }
  .timeline .swiper-button-next:hover {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }
  @media screen and (max-width: 768px) {
    .timeline .swiper-slide::after {
      right: -30%;
      bottom: -8%;
      width: 240px;
      height: 50%;
      box-shadow: -230px 0 150px 50vw rgba(0, 0, 0, 0.7);
    }
    .timeline .swiper-slide-content {
      right: 30%;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      width: 310px;
      font-size: 11px;
      
      text-align: right;
    }
    .timeline .swiper-slide .timeline-year {
      margin-bottom: 0;
      font-size: 32px;
      
    }
    .timeline .swiper-slide .timeline-title {
      font-size: 46px;
      
      margin: 0;
    }
    .timeline .swiper-pagination {
      display: -webkit-box;
      display: flex;
    }
    .timeline .swiper-button-prev {
      top: 15%;
      left: auto;
      right: 15%;
      -webkit-transform: rotate(90deg) translate(0, 10px);
              transform: rotate(90deg) translate(0, 10px);
    }
    .timeline .swiper-button-prev:hover {
      -webkit-transform: rotate(90deg) translate(-3px, 10px);
              transform: rotate(90deg) translate(-3px, 10px);
    }
    .timeline .swiper-button-next {
      top: auto;
      bottom: 15%;
      right: 15%;
      -webkit-transform: rotate(90deg) translate(0, 10px);
              transform: rotate(90deg) translate(0, 10px);
    }
    .timeline .swiper-button-next:hover {
      -webkit-transform: rotate(90deg) translate(3px, 10px);
              transform: rotate(90deg) translate(3px, 10px);
    }
  }
  @media screen and (max-width: 1024px) {
    .timeline .swiper-slide::after {
      right: -20%;
      bottom: -12%;
      width: 240px;
      height: 50%;
      box-shadow: -230px 0 150px 39vw rgba(0, 0, 0, 0.7);
    }
    .timeline .swiper-slide-content {
      right: 25%;
    }
  }
  
  
  
  
  
 
















  
  
  /* --------------------------------------------------C O N T A C T _ _ S E C T I O N ------------------------------------------- */
  
  
  #contact{
    min-height: 100vh;
    background: linear-gradient(rgb(37, 35, 35, 0.5),transparent), url("https://images.pexels.com/photos/326576/pexels-photo-326576.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  .form-wrapper{
    background: rgba(47, 48, 58, 0.5);
    width: 60%;
    color: white;
    border-radius: 20px;
  
  }
  
  
  .form-head{
    text-align: center;
    padding: 4rem;
  
  }
  
  .name-form,
  .email-form,
  .message-form{
  
    padding: 1rem;
    text-align: center;
  }
  
  
  .form-wrapper button{
    width: 100%;
    padding: 2rem;
    margin-top: 1rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  
  
  
  
  
/* --------------------------------------------F O O T E R _ _ S E C T I O N------------------------------------------- */
  
  
  footer{
    color: white;
    background:  rgba(47, 48, 58, 0.95);
  }
  
  .footer-wrapper{
    display: flex;
    padding: 2rem;
    width: 90%;
    margin: auto;
    align-items: center;
    min-height: 10vh;
    flex-wrap: wrap;
  }
  
  footer h5{
    flex: 1 1 40rem;
  }
  footer ul{
    display: flex;
    list-style: none;
    flex: 1 1 40rem;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-wrapper img{
    height: 40%;
    width: 40%;
  }
  
  
  
  
  /* -------------------------------------M E D I A _ _ Q U E R I E S_ _ ---------------------------------------------- */



  
  @media screen and (max-width: 768px){
    
    html{
      font-size: 45%;
    }
    nav{
      text-align: center;
    }
  
  
  .main-head{
    position: sticky;
    top: 0px;
  }
  
  
  
  
  
  body{
     overflow-x: hidden;
     /* overflow-y: hidden; */
  }
  
  
    nav{
      opacity: 1;
  
      
    }
    h3{
      float: left;
    }
    .nav-links{
      position: absolute;
      right: 0px;
      height: 92vh;
      top: 10vh;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      background-color: rgba(47, 48, 58,.9);
      opacity: 1;
      width: 50%;
     transform: translateX(100%);
     transition: transform 0.5s ease-in;
     z-index: 15;
    
    }
  
  
   .logo{
      color: white;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 2px;
      z-index: 10;
      background-color:transparent;
      position: relative;
      left: 0px;
      top: 0px;
      padding: 2px 105px 2px 85px;
      opacity: 1;
    }
  
    .nav-links li{
      opacity: 0;
      background: transparent;
    }
  
    .burger{
      display: block;
      z-index: 3;
      background: transparent;
    }
  }
  
  .nav-active{
    transform: translateX(0%);
  
  }
  
  
  
  
  /* Handles animation of responsive menu and of burger to " x " functionality */
  
  @keyframes navLinkFade{
      from{
          opacity: 0;
          transform: translateX(50px);
      }
      to {
          opacity: 1;
          transform: translateX(0px);
      }
  }
  
  .navX .line1{
      transform: rotate(-45deg) translate(-5px, 8px);
  }
  
  .navX .line2{
     opacity: 0;
  }
  
  .navX .line3{
       transform: rotate(45deg) translate(-5px, -10px);
       width: 35px;
  }
  
  
  
  
  
  
    #logo{
      padding: 1rem;
    }
   
   .cards{
     width: 100%;
   }
  
  .form-wrapper{
    width: 100%;
  }
   footer{
     text-align: center;
   }
  
   footer h5{
     padding-bottom: 1rem;
   }
  